@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lato:wght@400;700&display=swap');
 

button {
    --color: red;
    font-family: inherit;
    display: inline-block;
    width: 9em;
    height: 2.6em;
    line-height: 1.5em;
    margin: 30px 20px 0;
    font-size: 17px;
    color: var(--color);
    border: none;
    box-shadow: 0 0 59px rgba(255, 0, 0, 0.5);
    border-radius: 6px;
    font-family: 'Kanit', sans-serif;
  }
  


  button:hover {
    color: black;
    border: .5px solid var(--color);
  }
  
 