 @import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Lato:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
:root {
    --color-primario: #384E71;
    --color-secundario: #ECC6BB;
    --color-terciario: #A0C9E7;
    --color-neutral: #EFEEEC;
  }

html{
    scroll-behavior: smooth;
}
main{
    font-size: 18px;
    scroll-behavior: smooth;
}

h2{
    text-align: center;
    font-family: 'Kanit', sans-serif;
    color: whitesmoke;
    font-size: 2.5rem;

}
.seccion-titulo-separador{
    background-color: rgba(0,0,0,0.7595413165266106);
}
.separador-titulos{
    margin: .5rem auto 0;
    height: 3px;
    width: 20%;
    background-color: white;
}
.seccion2{
    background-color:rgba(175, 89, 158, 0.3);
    width: 90%;
    max-width: 1000px;
    margin: 3rem auto;
    text-align: center;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 5px rgba(0, 0, 0, 0.487);
}

.seccion2 h2 {
    margin-bottom: .5rem;
}

#seccion2-encabezado{
    color: tomato;
}
.contenedor_lista--funciones{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1000px;
}
.contenedor_lista--funciones li:hover{
    transform: scale(1.03);
}

.lista-hablemos{
    width: 100%;
    text-align: left;
    line-height: 25px;
    background-color: rgba(175, 89, 158, 0.3);
    padding: 1rem;
    border-radius: 5px;
    margin: 1.5rem auto;
    box-shadow: 3px 2px 5px 5px rgba(0, 0, 0, 0.487);
}

.seccion3{
    padding: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

footer {
    background-color: rgba(0,0,0,0.7595413165266106);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    color: whitesmoke;
    font-family: 'Kanit', sans-serif;
}
  
#descripcion-foter {
    text-align: center;
} 

@media only screen and (min-width: 700px){


    .lista-hablemos{
        flex-direction: row;
        max-width: 500px;
    }
    .contenedor_lista--funciones{
        flex-direction: row;
        gap: 5rem;
    }
    

}