@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Quicksand&display=swap');



/* header */
.header {
width: 100%;
background-color: rgba(0,0,0,0.7595413165266106);
display: flex;
justify-content: space-around;
align-items: center;
}

.header a {
text-decoration: none;
}
.child-header {
max-width: 1400px;
display: flex;
align-items: center;
}

/* logo */
.logo{
    width: 70%;
    max-width: 125px;
}


/* menu de navegacion */
.box-menu-navegacion {
    width: 50%;
}

.box-menu-navegacion ul {
    list-style: none;
    
}
.menu-navegacion {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item-menu-link {
    color: white;
    font-family: 'Kanit', sans-serif;
    letter-spacing: 2px;
    font-size: 1.2rem;
    transition: .1.5s linear;

}

/* hover */
.item-menu-link:hover {
    text-decoration: underline rgb(193, 32, 32);
}
.item-menu-sub-menu:hover i {
    color: #8f3636;
    transition: .3s linear;
}


/* boton hamburguesa */
.btn-hamburguesa {
    display: none;
    background-color: transparent;
    height: 30px;
    width: 35px;
    border: none;
    cursor: pointer;
    margin-right: 5px;
}
.btn-hamburguesa span {
    height: 2px;
    display: block;
    background-color: whitesmoke;
    width: 35px;
    border-radius: 20px;
    }
    
.btn-hamburguesa span:nth-child(2) {
    margin: .5rem 0;
}



@media screen and (max-width: 980px) {
/* boton hamburguesa */
.btn-hamburguesa {
    display: block;
}

/*  header */
.header {
    position: relative;
    justify-content: space-between;
}

/*  menu de navegacion */
.box-menu-navegacion {
    position: absolute;
    top: 100%;
    background-color: #777575c9;
    width: 100%;
    transform: scaley(0);
    transform-origin: top;
    transition: .3s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-navegacion {
    flex-direction: column;
    align-items: flex-start;
}
.item-menu-link{
    color: whitesmoke;
}


/*  activador sub menu */
.viewMenu {
    transform: scaley(1);
}



}


