.seccion1{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem auto;
    text-align: center;
}
#imagen-personal{
    width: 60%;
    max-width: 300px;
    margin: 2rem 0;
    border-radius: 50%;  
    animation: scale 2s infinite;
}

@keyframes scale {
0% {
    transform: scale(1);
}
50% {
    transform: scale(1.1);
}
100% {
    transform: scale(1);
}
}

#titulo-principal{
    font-family: 'Lato', sans-serif;
    color: var(--texto);
    font-size: 30px;
    margin-bottom: 1.5rem;
}

#descripcion-quien-soy{
    margin: 1.5rem 0;
    width: 90%;
    max-width: 900px;
    color: var(--texto);
    font-size: 18px;   
}