@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Quicksand&display=swap');


.seccion1{
    background-color: rgba(0,0,0,0.7595413165266106);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: whitesmoke;
}
.contenedor-quiensoy{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#imagen-personal{
    width: 60%;
    max-width: 300px;
    margin: 1rem 0 1rem;
    border-radius: 50%;  
}

.titulo-principal{
    font-size: 2.4rem;
    margin: .5rem 0;
    font-family: 'Kanit', sans-serif;
}

.descripcion-quien-soy{
    margin-top: 1rem;
    width: 90%;
    font-size: 18px;   


}

@media only screen and (min-width: 768px){
    .seccion1{
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor-quiensoy{
        margin-left: 15rem;

    }
    #imagen-personal{
        max-width: 500px;
        border-radius: 30%;
        border-bottom: 4px solid red;
    }

    .contenedorBtn{
        display: flex;
    }
}