.seccion2{
    background-color: var(--fondo-hablemos);
    width: 90%;
    max-width: 700px;
    margin: 3.5rem auto;
    text-align: center;
    padding: 1.5rem;
    border-radius: 7px;
}
.seccion2 h2 {
    margin-bottom: .5rem;
}