@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&family=Quicksand&display=swap');
.card{
  width: 950%;
  padding: 3rem;
  background-color: rgba(0,0,0,0.7595413165266106);
}

.contenedor-servicios-card {
  width: 95%;
  max-width: 400px;
  display: flex;
  flex-direction: column;  
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.8rem;
  margin: 1rem auto;
  color: whitesmoke;
   
}

.img-servicio {
  margin-bottom: 7px;
  width: 100px;
  
}

.titulo-servicio {
  font-family: 'Kanit', sans-serif;
  margin-bottom: 7px;
}

.descripcion-servicio {
}

@media only screen and (min-width: 768px) {
    .card{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        gap: 30px;
        width: 100%;
    }

}